@{
    ViewBag.Title = "Lasted Commit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    <div class="repositoryContent">
        <div class="pure-u-2-5">
            <h1>
                Lasted Commit
            </h1>
        </div>
        @{
            var grid = new WebGrid(rowsPerPage: 10, canPage: true, canSort: false);
            grid.Bind(Model, null, false, (int)(ViewBag.TotalCount ?? 0));
            @grid.GetHtml(displayHeader: false, mode: WebGridPagerModes.All,
                columns: grid.Columns(
                    grid.Column(format: item => Html.Partial("_LastedCommit", (ActivityCommitModels)item.Value))
                    )
                )
        }

    </div>
}
